@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply !scroll-smooth;
  }
  button {
    @apply active:outline-none;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: #2D2928;
}

body::-webkit-scrollbar-thumb {
  background-color: #353D3F;
  border-radius: 10px;
  border: 1px solid #2D2928;
}

body::-webkit-scrollbar-thumb:hover {
  background: #2D2928;
}

@keyframes subtleMove {
  0%, 100% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 51% 50%;
  }
}

.animate-subtle-move {
  animation: subtleMove 10s ease-in-out infinite;
}

/* Add this new class for the shadow animation */
.hover-shadow-animation {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow-animation:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}